.btn {
    background: lightcyan;
    color: rgb(37, 19, 134);
    padding: .5rem;
    border: 0;
    border-radius: .25rem;
    box-shadow: maroon;

}

.btn-green {
    background: rgb(61, 207, 16);
}
.btn-yellow {
    background: rgb(231, 228, 24);}
    .btn-red {
        background: rgb(230, 39, 14);}


