head {
    width: 60px;
}



h1 {
    width: 60px; 
    color: blue;
    font-family:'Roboto', sans-serif;
    font-style: inherit;}

div{
    height: 60px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Old Mincho', serif;
    color: lawngreen;
    text-align: left;
    font-size: 16px;
}
.red {
    color: darkorchid;
    text-transform: lowercase;
    font-weight: 700;
    text-decoration: overline;}

p{
    color: rgb(243, 13, 205);
    font-size: 20px;
    font-family: 'Irish Grover', cursive;
    text-shadow: rgb(11, 209, 235);
    white-space: pre-line;}

    span {
        color: rgb(84, 50, 177);
        text-align: right;
        text-decoration: underline;
        text-transform: capitalize;
        font-family: 'Irish Grover', cursive;}

.blue {
    color: blue;
    text-decoration: underline;
    font-family: 'Anton', sans-serif;}

i{
    color: rgb(50, 34, 201);
    font-size: 4rem;
}

.fas  { 
    color: rgb(255, 255, 255);
    font-size: 3rem;}

.fa-dog  { 
    color: rgb(216, 18, 18);
    font-size: 3rem;}

.fa-syringe  { 
    color: rgb(18, 17, 112);
    font-size: 3rem;}

.fa-cat  { 
    color: rgb(115, 255, 0);
        font-size: 3rem;}