:root {font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 16px;}

    *{box-sizing: border-box;
        margin: 0;}
    
    .header {
        min-height: 100vh;
        background: rgb(1, 1, 15);
        background-image: url(/images/Butterfly_and_Flower_Design_Background.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        color: rgb(40, 21, 77);
        padding: 0 ;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;}
        
    .header h1 
        {
        font-size: 4rem ;
        text-align: center;
        font-weight: 800;
    }
            
    h4 
        {
            text-align: center;
            font-size: 1rem;
            color: crimson;
        }

    .header-top {
        background: rgba(218, 120, 140, 0.795);
        width: 100%;
        padding: 1rem;}

    .header-container {
        max-width: 1200px;
    /* background: darkmagenta; */
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem
    }

    .header-container a{
        color: rgb(47, 14, 63);
        text-decoration: none;
        font-size: 1.25rem;
    }

    
    .header-container .logo {
        font-weight: 500;
        font-size: 1.5rem;
        color: rgb(104, 5, 66);}

    .header-menu {
        display: flex;
        padding: 0 1rem;
        gap:0 1rem;
}
    a:hover {
        background: rgb(146, 75, 75);
        transition: .5s ease;
        border-radius: 9px;
        padding: .2rem;
    }

    .call.to.action {
        background-color: rgb(163, 204, 228);
        text-decoration: none;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1rem 1.5rem;
        border-radius: 999px;
        box-shadow: rgb(239, 244, 245) 5px 5px 33px;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .call.to.action i {font-size: 2rem;}

    .call.to.action:hover {background: cadetblue;}