@import './typo.css';
:root {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    --primaros: #5C62EC;
    --hover: #3C40AE;
    --bianco: #FFFFFF;
    --accento: #85BFD1;
    --bordes: #26292D;
    --relenos: #1C1E22;
    --fondo: #171718;
    --gris: #A0A0A1;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: var(--fondo);
    color: var(--bianco);
}
.separator {
    width: 100%;
    height: 1px;
    background: var(--bordes);
}

.container {
    width: 100%;
    max-width: 1180px;
    padding: 0 1rem;
    margin: 0 auto;
}
@media screen and (min-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
}
.header .header-content {
    padding: 1.125rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-content .logo {
    display: flex;
}

.header .header-content .logo img {
    height: 2rem;
}

.header .header-content .menu {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    position: fixed;
    z-index: 90;
    width: 100%;
    height: calc(100vh - 4.25rem - 2px);
    left: 0;
    top: calc(4.25rem + 2px);
    background: var(--fondo);
    transition: .5s ease;
    opacity: 0;
    transform: translateX(100%);
    padding-top: 1.5rem;
}
.header .header-content .menu.open {
    opacity: 1;
    transform: translateX(0);
}

.header .header-content .menu a {
    font-weight: 700;
    color: var(--bianco);
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}

.header .header-content .menu-burger {
    background: none;
    border: 0;
    outline: 0;
    color: var(--bianco);
    font-size: 1.75rem;
    cursor: pointer;
}
.header .header-content .menu-burger .icon-burger {
    display: block;
}
.header .header-content .menu-burger .icon-close {
    display: none;
}
.header .header-content .menu-burger.open .icon-close {
    display: block;
}
.header .header-content .menu-burger.open .icon-burger {
    display: none;
}

@media screen and (min-width: 768px) {
    .header .header-content .menu-burger {
        display: none;
    }
    .header .header-content .menu {
        position: static;
        height: auto;
        width: auto;
        transform: none;
        opacity: 1;
        flex-direction: row;
        padding-top: 0;
    }
}